.userInput {
  border: none;
  outline: none;
  color: white;
  min-width: 75%;
  position: relative;
  font-size: 1rem;
  padding: 0.8rem 0rem;
  padding-bottom: 0;
  background-color: transparent;
}

.userInput:focus {
  background-color: transparent;
  border-bottom: 1px solid gray;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 849px) {
  .userInput {
    background-color: #0f2541;
    padding: 0.8rem 0;
  }
}

@media screen and (max-width: 237px) {
  .userInput {
    padding: 0.3rem 0rem;
    width: 25%;
  }
}
