.mainNavSection {
    background-color: #65717f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;

}

.mainFeatureNavSection {
    display: flex;
    display: flex;
    min-width: 66%;
    justify-content: space-between;
}

.logoTo-DoSection {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.featureNavDiv {
    display: flex;
}

.userLoginSignupNav {
    display: flex;
}

.burgerNav {
    display: none;
}

/* responsive design for the navbar */
@media screen and (max-width: 740px) {   
    .burgerNav {
        display: block;
    }

    .mainFeatureNavSection {
        position: absolute;
        right: 0;
        top: 7.3%;
        background-color:  #65717f;
        display: flex;
        flex-direction: column;
        height: 85vh;
        z-index: 2;
        width: 50%;
        transform: translateX(100%);
        display: none;
        transition: transform 0.2s ease-in;
    }

    .featureNavDiv, .userLoginSignupNav {
        display: flex;
        flex-direction: column;
        height: 25vh;
        justify-content: space-around;
        font-size: 1.2rem
    }

    .nav-active {
        transform: translateX(0%);
        transition-duration: .3s;
        display: block;
    }
}

/* for extremely small screens make the todo app heading small */
@media screen and (max-width: 170px) {
    .logoTo-DoSection {
        font-size: .4rem;       
        width: 25%;
    }
}
